!.keep
*.DS_Store
.idea
*.swo
*.swp
.byebug_history
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/node_modules
/import_data
/public/assets
/public/packs
/public/system
/tags
/tmp/*
/yarn-error.log

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
app.yaml
app.staging.yaml
.env

